body {
    background-color: #424242;
}
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
} 
.pokemon-card {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    background-color: #f5f5f5;
    transition: transform 0.2s ease;  
}
.pokemon-card img {
    width: 100px;
    height: 100px;
}
.pokemon-card h3 {
    margin-top: 0;
}
.pokemon-card:hover {
    transform: translateY(-5px);
}

/*colours by types*/
.pokemon-card.normal { background-color: rgba(168, 167, 122, 0.8); }
.pokemon-card.fire { background-color: rgba(238, 129, 48, 0.8); }
.pokemon-card.water { background-color: rgba(99, 144, 240, 0.8); }
.pokemon-card.electric { background-color: rgba(247, 208, 44, 0.8); }
.pokemon-card.grass { background-color: rgba(122, 199, 76, 0.8); }
.pokemon-card.ice { background-color: rgba(150, 217, 214, 0.8); }
.pokemon-card.fighting { background-color: rgba(194, 46, 40, 0.8); }
.pokemon-card.poison { background-color: rgba(163, 62, 161, 0.8); }
.pokemon-card.ground { background-color: rgba(226, 191, 101, 0.8); }
.pokemon-card.flying { background-color: rgba(169, 143, 243, 0.8); }
.pokemon-card.psychic { background-color: rgba(249, 85, 135, 0.8); }
.pokemon-card.bug { background-color: rgba(166, 185, 26, 0.8); }
.pokemon-card.rock { background-color: rgba(182, 161, 54, 0.8); }
.pokemon-card.ghost { background-color: rgba(115, 87, 151, 0.8); }
.pokemon-card.dragon { background-color: rgba(111, 53, 252, 0.8); }
.pokemon-card.dark { background-color: rgba(112, 87, 70, 0.8); }
.pokemon-card.steel { background-color: rgba(183, 183, 206, 0.8); }
.pokemon-card.fairy { background-color: rgba(214, 133, 173, 0.8); }